@import "normalize";
@import "variables";
@import "mixins";
@import "fonts";
@import "theme";

body {
  @include body-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-secondary;
}

h1 {
  @include heading-1;
}