.userCard {
  background-color: var(--card-bg);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  padding: 12px;
  width: 100%;
  max-width: 100%;
  transition: all 0.4s;
  box-sizing: border-box;

  h2 {
    color: var(--text-color);
  }
}

.userCard:hover,
.userCard:focus{
  cursor: pointer;
  transform: translateY(-5px);
  box-shadow: var(--box-shadow-active);
  outline: none;
}

.userName {
  margin: 0 0 0.5rem;
  color: #2d3748;
}

.userDetails {
  margin: 0;
}

.detailGroup {
  margin-bottom: 0.55rem;
  display: grid;
  grid-template-columns: 65px 1fr;
  gap: 0.5rem;
}

.detailLabel {
  font-weight: 600;
  color: var(--text-color);
}

.detailValue {
  margin: 0;
}

.detailValue a {
  color: var(--primary-color);
  text-decoration: none;
}

.detailValue a:hover {
  text-decoration: underline;
}

.detailValue a:focus {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
  border-radius: 2px;
}